@import url("https://fonts.googleapis.com/css?family=Playfair+Display:500,600,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    vertical-align: top;
}

button {
    border: none;
    background: transparent;
    font-family: inherit;
    display: inline-block;
}

input, textarea {
    background: transparent;
    border: none;
    resize: none;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input::-ms-clear {
    display: none;
}

img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}

.image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

body {
    font-family: "Playfair+Display";
    line-height: 1.4;
    font-size: 16px;
    color: #0C1623;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

p {
    font-family: "Inter";
}

.h1, .h2, .h3, .h4, .h5 {
    color: #0C1623;
    text-transform: capitalize;
}

.h1 {
    font-size: 68px;
    font-weight: 700;
    line-height: 1.2;
}

@media (max-width: 767.98px) {
    .h1 {
        font-size: 57px;
    }
}

@media (max-width: 575.98px) {
    .h1 {
        font-size: 48px;
    }
}

@media (max-width: 479.98px) {
    .h1 {
        font-size: 38px;
    }
}

.h2 {
    font-size: 46px;
    font-weight: 600;
    line-height: 1.2;
}

@media (max-width: 991.98px) {
    .h2 {
        font-size: 38px;
    }
}

@media (max-width: 575.98px) {
    .h2 {
        font-size: 32px;
    }
}

@media (max-width: 479.98px) {
    .h2 {
        font-size: 27px;
    }
}

.h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

@media (max-width: 991.98px) {
    .h3 {
        font-size: 30px;
    }
}

@media (max-width: 575.98px) {
    .h3 {
        font-size: 27px;
    }
}

@media (max-width: 479.98px) {
    .h3 {
        font-size: 25px;
    }
}

.h4 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
}

@media (max-width: 575.98px) {
    .h4 {
        font-size: 22px;
    }
}

@media (max-width: 479.98px) {
    .h4 {
        font-size: 21px;
    }
}

.h5 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}

@media (max-width: 575.98px) {
    .h5 {
        font-size: 19px;
    }
}

[class*=__container] {
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

@media (max-width: 479.98px) {
    [class*=__container] {
        padding: 0 20px;
    }
}

.mg-top-5 {
    margin-top: 5px;
}

.mg-top-10 {
    margin-top: 10px;
}

.mg-top-15 {
    margin-top: 15px;
}

.mg-top-20 {
    margin-top: 20px;
}

@media (max-width: 479.98px) {
    .mg-top-20 {
        margin-top: 15px;
    }
}

.mg-top-25 {
    margin-top: 25px;
}

@media (max-width: 479.98px) {
    .mg-top-25 {
        margin-top: 20px;
    }
}

.mg-top-30 {
    margin-top: 30px;
}

@media (max-width: 479.98px) {
    .mg-top-30 {
        margin-top: 23px;
    }
}

.mg-top-35 {
    margin-top: 35px;
}

@media (max-width: 767.98px) {
    .mg-top-35 {
        margin-top: 27px;
    }
}

.mg-top-40 {
    margin-top: 40px;
}

@media (max-width: 767.98px) {
    .mg-top-40 {
        margin-top: 30px;
    }
}

@media (max-width: 479.98px) {
    .mg-top-40 {
        margin-top: 25;
    }
}

.mg-top-45 {
    margin-top: 45px;
}

@media (max-width: 767.98px) {
    .mg-top-45 {
        margin-top: 35px;
    }
}

@media (max-width: 479.98px) {
    .mg-top-45 {
        margin-top: 28px;
    }
}

.mg-top-50 {
    margin-top: 50px;
}

@media (max-width: 767.98px) {
    .mg-top-50 {
        margin-top: 40px;
    }
}

@media (max-width: 479.98px) {
    .mg-top-50 {
        margin-top: 30px;
    }
}

.mg-top-55 {
    margin-top: 55px;
}

@media (max-width: 767.98px) {
    .mg-top-55 {
        margin-top: 45px;
    }
}

@media (max-width: 479.98px) {
    .mg-top-55 {
        margin-top: 37px;
    }
}

.mg-top-60 {
    margin-top: 60px;
}

@media (max-width: 767.98px) {
    .mg-top-60 {
        margin-top: 55px;
    }
}

@media (max-width: 479.98px) {
    .mg-top-60 {
        margin-top: 50px;
    }
}

.mg-top-80 {
    margin-top: 80px;
}

@media (max-width: 767.98px) {
    .mg-top-80 {
        margin-top: 60px;
    }
}

@media (max-width: 479.98px) {
    .mg-top-80 {
        margin-top: 50px;
    }
}

.padding-top-110 {
    padding-top: 110px;
}

@media (max-width: 767.98px) {
    .padding-top-110 {
        padding-top: 95px;
    }
}

@media (max-width: 575.98px) {
    .padding-top-110 {
        padding-top: 75px;
    }
}

.header {
    background-color: #F4FDFE;
    height: 90px;
    padding: 15px 0;
    position: relative;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 60;
    background-color: #F4FDFE;
    display: none;
}

@media (max-width: 767.98px) {
    .header::before {
        display: block;
    }
}

@media (max-width: 575.98px) {
    .header {
        height: 75px;
    }
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 767.98px) {
    .header__menu {
        position: absolute;
        right: 0;
        left: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        background-color: #F4FDFE;
        padding: 100px 30px 70px;
        top: 0;
        z-index: 50;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: 400ms;
        -o-transition: 400ms;
        transition: 400ms;
    }
}

.header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 135px;
}

@media (max-width: 991.98px) {
    .header__list {
        margin-right: 70px;
    }
}

@media (max-width: 767.98px) {
    .header__list {
        display: block;
    }
}

.header__list-item {
    margin-right: 28px;
    -webkit-transition: all 555ms;
    -o-transition: all 555ms;
    transition: all 555ms;
    font-size: 18px;
}

.header__list-item:hover {
    text-decoration: underline;
}

.header__list-item:last-child {
    margin-right: 0;
}

@media (max-width: 767.98px) {
    .header__list-item {
        margin-right: 0;
        margin-top: 10px;
    }
}

.header__nav-link {
    text-decoration: inherit;
}

.header__login {
    text-decoration: underline;
    margin-right: 28px;
}

@media (max-width: 767.98px) {
    .header__login {
        margin-right: 0;
        margin-top: 20px;
    }
}

.header__button {
    padding: 10px 24px;
    background-color: #0095A4;
    color: #ffffff;
}

@media (max-width: 767.98px) {
    .header__button {
        margin-top: 30px;
    }
}

.header__burger {
    display: none;
}

@media (max-width: 767.98px) {
    .header__burger {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: relative;
        z-index: 62;
    }
}

.header__burger-check {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.header__burger-check:checked ~ .header__menu {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
}

.header__burger-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.header__burger-line {
    width: 25px;
    border: 1px solid #0C1623;
    margin-top: 7px;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    max-width: 120px;
    position: relative;
    z-index: 62;
}

.blue-text {
    color: #0095A4;
}

.main-button, .header__button {
    border-radius: 50px;
    -webkit-transition: all 555ms;
    -o-transition: all 555ms;
    transition: all 555ms;
    border: 1px solid transparent;
    text-align: center;
}

.header__button:hover,
.main-button:hover,
.get__button:hover {
    color: #0095A4;
    border-color: #0095A4;
    background-color: transparent;
}

.hero {
    padding-top: 80px;
    position: relative;
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
    }
}

.hero__decor-block {
    height: 35%;
    background-color: #E8EFF4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (max-width: 991.98px) {
    .hero__decor-block {
        height: 20%;
    }
}

.hero__container {
    max-width: 1330px;
    padding: 0 80px;
}

@media (max-width: 991.98px) {
    .hero__container {
        padding: 0 40px;
    }
}

@media (max-width: 575.98px) {
    .hero__container {
        padding: 0 30px;
    }
}

@media (max-width: 479.98px) {
    .hero__container {
        padding: 0 20px;
    }
}

.hero__text-block {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.1fr 1fr;
    grid-template-columns: 1.1fr 1fr;
    grid-column-gap: 78px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: start;
}

@media (max-width: 991.98px) {
    .hero__text-block {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        max-width: 600px;
        row-gap: 35px;
    }
}

@media (max-width: 767.98px) {
    .hero__text-block {
        row-gap: 20px;
    }
}

.hero__img-wrapper {
    position: relative;
}

@media (max-width: 767.98px) {
    .hero__img-wrapper {
        height: 350px;
    }
}

@media (max-width: 575.98px) {
    .hero__img-wrapper {
        max-width: 95%;
        margin-right: auto;
        margin-left: auto;
    }
}

.hero__left-img-wrapper {
    max-width: 353px;
    width: 35%;
    top: 25%;
    left: -64px;
    position: absolute;
}

.hero__left-img-wrapper img {
    border-radius: 6px;
    -webkit-box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
    box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
}

@media (max-width: 991.98px) {
    .hero__left-img-wrapper {
        left: -25px;
    }
}

@media (max-width: 767.98px) {
    .hero__left-img-wrapper {
        width: 40%;
    }
}

@media (max-width: 575.98px) {
    .hero__left-img-wrapper {
        width: 45%;
        top: auto;
        bottom: 25%;
    }
}

@media (max-width: 479.98px) {
    .hero__left-img-wrapper {
        width: 60%;
        max-width: 210px;
        left: -20px;
        bottom: 15%;
    }
}

.hero__right-img-wrapper {
    width: 30%;
    max-width: 302px;
    position: absolute;
    top: -13%;
    right: -50px;
}

.hero__right-img-wrapper img {
    border-radius: 6px;
    -webkit-box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
    box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
}

@media (max-width: 991.98px) {
    .hero__right-img-wrapper {
        right: -25px;
    }
}

@media (max-width: 767.98px) {
    .hero__right-img-wrapper {
        width: 40%;
    }
}

@media (max-width: 575.98px) {
    .hero__right-img-wrapper {
        width: 50%;
    }
}

@media (max-width: 479.98px) {
    .hero__right-img-wrapper {
        width: 60%;
        max-width: 210px;
        top: -5%;
        right: -20px;
    }
}

.main-button {
    background-color: #0095A4;
    font-size: 18px;
    padding: 15px 36px;
    color: #ffffff;
    text-transform: capitalize;
}

@media (max-width: 575.98px) {
    .main-button {
        padding: 12px 27px;
    }
}

@media (max-width: 479.98px) {
    .main-button {
        width: 100%;
    }
}

.why {
    background-color: #F4FDFE;
}

@media (max-width: 991.98px) {
    .why .h2, .why p {
        max-width: 600px;
    }
}

.why__content-wrapper {
    position: relative;
}

.why__content {
    display: -ms-grid;
    display: grid;
    grid-column-gap: 80px;
    -ms-grid-columns: 1fr 1.25fr;
    grid-template-columns: 1fr 1.25fr;
}

@media (max-width: 991.98px) {
    .why__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

.why__img-wrapper {
    width: 30%;
    min-width: 340px;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
}

@media (max-width: 991.98px) {
    .why__img-wrapper {
        position: relative;
        width: auto;
        max-width: 485px;
        min-width: auto;
        margin: 0 auto;
    }
}

@media (max-width: 767.98px) {
    .why__img-wrapper {
        max-width: 90%;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 991.98px) {
    .why .why__img-block {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }
}

.why__small-img-wrapper {
    max-width: 284px;
    position: absolute;
    right: -35%;
    top: 50%;
    width: 70%;
}

@media (max-width: 991.98px) {
    .why__small-img-wrapper {
        right: -20%;
    }
}

@media (max-width: 767.98px) {
    .why__small-img-wrapper {
        right: -10%;
        width: 50%;
    }
}

.why__cart-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2vw;
    padding-bottom: 120px;
}

@media (max-width: 991.98px) {
    .why__cart-wrapper {
        padding-bottom: 0;
        -webkit-column-gap: 60px;
        -moz-column-gap: 60px;
        column-gap: 60px;
    }
}

@media (max-width: 767.98px) {
    .why__cart-wrapper {
        grid-gap: 20px;
    }
}

@media (max-width: 575.98px) {
    .why__cart-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 479.98px) {
    .why__cart-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

.why__card {
    padding: 30px 15px;
    background-color: #ffffff;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
}

.why__card:nth-child(2) {
    position: relative;
    top: 50px;
}

@media (max-width: 991.98px) {
    .why__card:nth-child(2) {
        position: static;
    }
}

@media (max-width: 575.98px) {
    .why__card:nth-child(3) {
        -ms-grid-column-span: 2;
        grid-column: 2 span;
    }
}

@media (max-width: 479.98px) {
    .why__card:nth-child(3) {
        -ms-grid-column-span: 1;
        grid-column: 1 span;
    }
}

.why__card-icon {
    width: 68px;
}

.amenities {
    padding: 260px 0 50px;
    position: relative;
    text-align: center;
}

@media (max-width: 767.98px) {
    .amenities {
        padding-top: 210px;
    }
}

@media (max-width: 575.98px) {
    .amenities {
        padding-top: 170px;
    }
}

@media (max-width: 479.98px) {
    .amenities {
        padding-top: 135px;
    }
}

.amenities__decor-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 77%;
    height: 25%;
    background-color: #0095A4;
    z-index: -1;
}

.amenities__text-block {
    max-width: 600px;
    margin: 0 auto;
}

.amenities__card-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media (max-width: 991.98px) {
    .amenities__card-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 479.98px) {
    .amenities__card-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}

.amenities__card {
    background-color: #ffffff;
    padding: 40px 20px 100px;
    -webkit-box-shadow: 6px 8px 46px rgba(130, 172, 162, 0.25);
    box-shadow: 6px 8px 46px rgba(130, 172, 162, 0.25);
}

@media (max-width: 575.98px) {
    .amenities__card {
        padding-bottom: 60px;
    }
}

@media (max-width: 479.98px) {
    .amenities__card {
        padding: 15px 20px 25px;
    }
}

.amenities__card-icon {
    width: 108px;
}

@media (max-width: 479.98px) {
    .amenities__card-icon {
        width: 80px;
    }
}

.aqua-text {
    color: #3FC3CA;
}

.plans {
    background-color: #E8EFF4;
}

.plans__text-block {
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
}

.plans__card-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-auto-rows: 1fr;
}

@media (max-width: 991.98px) {
    .plans__card-wrapper {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }
}

.plans__card {
    background-color: #ffffff;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 991.98px) {
    .plans__card {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 575.98px) {
    .plans__card {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}

.plans__card-content {
    padding: 25px 18px 45px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 991.98px) {
    .plans__card-content {
        padding: 35px 18px;
    }
}

@media (max-width: 479.98px) {
    .plans__card-content {
        padding: 20px 10px;
    }
}

.plans__card-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.plans__link {
    color: #0095A4;
    text-transform: capitalize;
}

.plans__link-arrow {
    width: 12px;
    margin-left: 8px;
}

.gallery {
    padding-bottom: 270px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, rgb(232, 239, 244)), color-stop(45%, rgb(255, 255, 255)));
    background: -o-linear-gradient(top, rgb(232, 239, 244) 55%, rgb(255, 255, 255) 45%);
    background: linear-gradient(180deg, rgb(232, 239, 244) 55%, rgb(255, 255, 255) 45%);
}

@media (max-width: 767.98px) {
    .gallery {
        padding-bottom: 200px;
    }
}

.gallery__images-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery__left-block {
    position: relative;
}

.gallery__right-block {
    position: relative;
}

.gallery__first-img-wrap {
    width: 120px;
    height: 315px;
}

@media (max-width: 767.98px) {
    .gallery__first-img-wrap {
        height: 245px;
    }
}

@media (max-width: 575.98px) {
    .gallery__first-img-wrap {
        height: 200px;
        width: 100px;
    }
}

@media (max-width: 479.98px) {
    .gallery__first-img-wrap {
        height: 170px;
        width: 80px;
    }
}

.gallery__second-img-wrap {
    width: 149px;
    height: 241px;
    position: absolute;
    top: -80px;
    right: -200px;
}

.gallery__second-img-wrap.right {
    right: auto;
    left: -340px;
}

@media (max-width: 991.98px) {
    .gallery__second-img-wrap.right {
        left: -200px;
        top: -50px;
    }
}

@media (max-width: 767.98px) {
    .gallery__second-img-wrap.right {
        left: -120px;
    }
}

@media (max-width: 575.98px) {
    .gallery__second-img-wrap.right {
        left: -80px;
    }
}

@media (max-width: 991.98px) {
    .gallery__second-img-wrap {
        top: -100px;
        right: -100px;
    }
}

@media (max-width: 767.98px) {
    .gallery__second-img-wrap {
        height: 180px;
        right: -76px;
    }
}

@media (max-width: 575.98px) {
    .gallery__second-img-wrap {
        height: 146px;
        width: 110px;
        right: -40px;
    }
}

@media (max-width: 479.98px) {
    .gallery__second-img-wrap {
        height: 123px;
        width: 98px;
    }
}

.gallery__third-img-wrap {
    width: 191px;
    height: 225px;
    position: absolute;
    right: -320px;
    z-index: 2;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    bottom: auto;
}

.gallery__third-img-wrap.right {
    right: auto;
    left: -260px;
}

@media (max-width: 991.98px) {
    .gallery__third-img-wrap.right {
        left: -120px;
    }
}

@media (max-width: 767.98px) {
    .gallery__third-img-wrap.right {
        left: -70px;
        bottom: -90px;
    }
}

@media (max-width: 479.98px) {
    .gallery__third-img-wrap.right {
        bottom: -55px;
        left: -40px;
    }
}

@media (max-width: 991.98px) {
    .gallery__third-img-wrap {
        top: auto;
        bottom: -130px;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        right: -120px;
    }
}

@media (max-width: 767.98px) {
    .gallery__third-img-wrap {
        width: 160px;
        height: 180px;
        right: -70px;
    }
}

@media (max-width: 575.98px) {
    .gallery__third-img-wrap {
        width: 130px;
        height: 165px;
        right: -60px;
    }
}

@media (max-width: 479.98px) {
    .gallery__third-img-wrap {
        width: 114px;
        height: 140px;
        right: -50px;
        bottom: -180px;
    }
}

.gallery__container {
    position: relative;
    z-index: 2;
}

.gallery__center-block {
    width: 324px;
    height: 428px;
    position: relative;
    top: 90px;
    margin-left: -90px;
    z-index: 5;
}

@media (max-width: 767.98px) {
    .gallery__center-block {
        height: 350px;
        width: 287px;
        margin-left: -60px;
        top: 70px;
    }
}

@media (max-width: 575.98px) {
    .gallery__center-block {
        width: 210px;
        height: 280px;
        margin-left: -40px;
        top: 60px;
    }
}

@media (max-width: 479.98px) {
    .gallery__center-block {
        width: 170px;
        height: 247px;
        margin-left: -30px;
    }
}

.gallery__text-block {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.gallery__fourth-img-wrap {
    width: 181px;
    height: 242px;
    position: absolute;
    bottom: -70px;
    right: -60px;
    z-index: 2;
}

@media (max-width: 767.98px) {
    .gallery__fourth-img-wrap {
        width: 145px;
        height: 196px;
    }
}

@media (max-width: 575.98px) {
    .gallery__fourth-img-wrap {
        width: 123px;
        height: 175px;
    }
}

@media (max-width: 479.98px) {
    .gallery__fourth-img-wrap {
        width: 110px;
        height: 156px;
        right: -40px;
    }
}

.get {
    padding-top: 25px;
    background: url(../images/big-house.jpg);
    background-position: center;
    background-size: cover;
}

.get__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.1fr;
    grid-template-columns: 1fr 1.1fr;
    grid-gap: 10vw;
}

@media (max-width: 991.98px) {
    .get__container {
        -ms-grid-columns: fit-content(650px);
        grid-template-columns: fit-content(650px);
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 479.98px) {
    .get__container {
        padding: 0;
    }
}

.get__text-block {
    max-width: 450px;
    padding-top: 100px;
    color: #ffffff;
}

.get__text-block .h2 {
    color: #ffffff;
}

.get__text-block p {
    text-transform: capitalize;
}

@media (max-width: 991.98px) {
    .get__text-block {
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .get__text-block {
        padding-top: 80px;
    }
}

@media (max-width: 479.98px) {
    .get__text-block {
        padding-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.get__form-block {
    background-color: #ffffff;
    padding: 80px 50px 10px;
    border-radius: 280px 280px 0 0;
}

.get__form-block .h4 {
    max-width: 200px;
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 575.98px) {
    .get__form-block {
        padding: 80px 33px 10px;
    }
}

@media (max-width: 479.98px) {
    .get__form-block {
        border-radius: 180px 180px 0 0;
        padding: 60px 20px 10px;
    }
}

.get__inputs-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
}

@media (max-width: 479.98px) {
    .get__inputs-wrapper {
        grid-gap: 20px;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.get__input {
    padding: 13px 15px;
}

.get__field {
    background-color: #F4FDFE;
    border: 0.5px solid #76989A;
    width: 100%;
    border-radius: 6px;
}

.get__textarea {
    height: 160px;
    padding: 15px;
}

.get__button {
    background-color: #0395A4;
    width: 100%;
    border: 1px solid transparent;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 0;
    border-radius: 30px;
    text-transform: capitalize;
    -webkit-transition: all 555ms;
    -o-transition: all 555ms;
    transition: all 555ms;
}

.get__privacy {
    font-size: 11px;
    color: #6E7189;
    text-align: center;
}

.white-block {
    height: 140px;
    width: 100%;
}

@media (max-width: 767.98px) {
    .white-block {
        height: 100px;
    }
}

@media (max-width: 479.98px) {
    .white-block {
        height: 60px;
    }
}

.questions {
    background-color: #E8EFF4;
    padding-bottom: 80px;
}

.questions__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1.5fr;
    grid-template-columns: 1fr 1.5fr;
    grid-gap: 70px;
}

@media (max-width: 991.98px) {
    .questions__container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        max-width: 750px;
    }
}

.questions__accordion-wrap {
    display: -ms-grid;
    display: grid;
    row-gap: 25px;
}

.questions__accordion {
    padding: 25px 25px 20px 30px;
    background-color: #ffffff;
    position: relative;
}

.questions__accordion-open {
    display: none;
    opacity: 0;
    -webkit-transition: 555ms;
    -o-transition: 555ms;
    transition: 555ms;
}

.questions__accordion-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    position: absolute;
}

.questions__accordion-label {
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
}

.questions__accordion-icon {
    width: 18px;
    -webkit-transition: all 555ms;
    -o-transition: all 555ms;
    transition: all 555ms;
}

.questions__accordion-title {
    font-size: 18px;
    font-weight: 600;
}

.space-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#accordion-check:checked ~ .questions__accordion-open {
    display: block;
    padding-bottom: 20px;
    opacity: 100;
}

#accordion-check2:checked ~ .questions__accordion-open {
    display: block;
    padding-bottom: 20px;
    opacity: 100;
}

#accordion-check3:checked ~ .questions__accordion-open {
    display: block;
    padding-bottom: 20px;
    opacity: 100;
}

#accordion-check:checked ~ * .questions__accordion-icon {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
}

#accordion-check2:checked ~ * .questions__accordion-icon {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
}

#accordion-check3:checked ~ * .questions__accordion-icon {
    -webkit-transform: rotateZ(180deg);
    -ms-transform: rotate(180deg);
    transform: rotateZ(180deg);
}

.ready {
    background-color: #0C1623;
    padding: 60px 0;
}

.ready__text-block {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    color: #ffffff;
}

.ready__text-block .h2 {
    color: #ffffff;
}

.contact {
    background-color: #E8EFF4;
    padding: 60px 0 70px;
}

.contact__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

@media (max-width: 767.98px) {
    .contact__container {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        justify-items: start;
        row-gap: 30px;
    }
}

.contact__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
}

.contact__icon {
    width: 36px;
    margin-right: 15px;
}

.contact__link {
    -webkit-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

.contact__link:hover {
    color: #0095A4;
    text-decoration: underline;
}

.footer {
    background-color: #0C1623;
    padding-bottom: 50px;
    color: #ffffff;
}

.footer .h4 {
    color: inherit;
}

.footer__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 320px 350px 150px;
    grid-template-columns: 320px 350px 150px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 991.98px) {
    .footer__content {
        -ms-grid-columns: 0.8fr 1fr;
        grid-template-columns: 0.8fr 1fr;
        grid-gap: 30px;
    }
}

@media (max-width: 767.98px) {
    .footer__content {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}

.footer__message-link {
    width: 40px;
    margin-right: 20px;
}

.footer__message-link:last-child {
    margin-right: 0;
}

.footer__button-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.footer__button-block .main-button.border {
    margin-left: 30px;
}

@media (max-width: 479.98px) {
    .footer__button-block .main-button.border {
        margin-left: 0;
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .footer__button-block {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
    }
}

@media (max-width: 479.98px) {
    .footer__button-block {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.footer__buttons-wrap {
    text-align: center;
}

@media (max-width: 767.98px) {
    .footer__buttons-wrap {
        text-align: left;
    }
}

.footer__menu {
    text-align: right;
}

@media (max-width: 991.98px) {
    .footer__menu {
        text-align: left;
    }
}

.footer__menu-link {
    font-size: 18px;
    text-transform: capitalize;
    -webkit-transition: 555ms;
    -o-transition: 555ms;
    transition: 555ms;
}

.footer__menu-link:hover {
    color: #0095A4;
}

.footer__copyright {
    max-width: 900px;
    margin: 150px auto 0;
    text-align: center;
}

@media (max-width: 991.98px) {
    .footer__copyright {
        margin-top: 100px;
    }
}

@media (max-width: 479.98px) {
    .footer__copyright {
        margin-top: 70px;
        font-size: 14px;
    }
}

.main-button.border {
    border: 1px solid #0095A4;
    background-color: transparent;
    color: #0095A4;
    -webkit-transition: 555ms;
    -o-transition: 555ms;
    transition: 555ms;
}

.main-button.border:hover {
    border-color: transparent;
    background-color: #0095A4;
    color: #ffffff;
}

.logo.white {
    color: #ffffff;
}